/* General Elements*/
body {
    background-color:rgb(241, 241, 245);
    width: 100%
    
}
.loginform {
    background-color: white;
    width: 34%;
    margin-top: 10%;
    margin-left: 33%;
    border: solid 2px rgb(228, 20, 20);
	padding: 10px;
    border-radius: 15px;
}
.mainform {
	background-color: white;
    width: 34%;
    margin-top: 10%;
    margin-left: 33%;
    border: solid 2px rgb(228, 20, 20);
	padding: 10px;
    border-radius: 15px;
}


h1{
    color:  black;
    font-size:30px;
    margin-left:25px;
    margin-top:20px;
}

h2{
    font-size:20px;    
    color:white;
    letter-spacing: 0.25em;  
    font-family: Impact, Charcoal, sans-serif;
    margin-top:5px;
}

h3{
    font-size:20px;
}
h4{
    font-size:20px;
    color:rgb(226, 195, 19);
  
}

.nav-wrapper{
    background-color: rgb(43, 42, 42);
}

/* unvisited link */
a:link {
    color: blue;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgb(30, 117, 103);
}

#search{
    border: solid 2px rgb(211, 204, 204);
    border-radius: 15px;
    margin-left:10px;
    width:95%;
}

#artist-keyword{
    margin-left:10px;
    margin-bottom:20px;
    margin-top:20px;
    font-weight:bold;
}

.row{
    border: solid 2px rgb(211, 204, 204);
}

.item{
    border: solid 2px rgb(211, 204, 204);
	padding: 10px;
    border-radius: 15px;
}

#artist-name{
    font-size: 30px;
    text-align:center;
    text-transform: capitalize; 
    letter-spacing: 0.25em;  
    font-family: Impact, Charcoal, sans-serif;

}

.card-body{
    background-color:rgb(248, 247, 247);
}

.item{
    border: solid 2px rgb(255, 255, 255);
	padding: 10px;
    border-radius: 15px;
}

nav{
    height:50px;
}

p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2;
    
}

#run-search, #clear-all{
    background-color:rgb(226, 195, 19);
}

#article-section{
    text-align:center;
}

